
@using Microsoft.AspNetCore.Mvc.Localization;
@using ResourceApp.Resources;
@inject IHtmlLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["HelloWorld"]</h1>
    <p>@Localizer["Titile_First"] <a href="https://docs.microsoft.com/aspnet/core">@Localizer["Titile_Last"]</a>.</p>
</div>
